:root {
  --bg-color: #fff;
  --border-color: #dee2e6;
  --border-width: 1px;
  --primary-color: #212529;
  --secondary-bg: #e9ecef;
  --gap-x: 1rem;
  --gap-y: 1rem;
  --border-radius: 0.3rem;
}

[data-bs-theme="dark"] {
  --bg-color: #212529;
  --border-color: #495057;
  --primary-color: #dee2e6;
  --secondary-bg: #343a40;
}


body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

textarea {
  resize: vertical;
  font-size: inherit;
}

[hidden] {
  display: none !important;
}

.flex {
  display: flex;

  .col-auto {
    flex: 1 1 auto;
  }
}

.align-items-center {
  align-items: center
}

.justify-content-between {
  justify-content: space-between;
}

.border-bottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * var(--gap-x));
  margin-left: calc(-0.5 * var(--gap-x));

  & > [class^="col"] {
    box-sizing: border-box;
    max-width: 100%;
    padding-right: calc(0.5 * var(--gap-x));
    padding-left: calc(0.5 * var(--gap-x));
    margin-top: var(--gap-y);
  }

  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-12 {
    width: 100%
  }
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form-label {
  display: inline-block;
  margin-bottom: calc(0.5 * var(--gap-y));
}

.form-range, .form-control, .form-select {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  background-color: var(--bg-color);
  line-height: 1.5;
}

.form-range {
  appearance: none;
  background-color: transparent;
  height: 1.5rem;

  &::-webkit-slider-runnable-track, &::-moz-range-track {
    color: #0000;
    cursor: pointer;
    background-color: var(--secondary-bg);
    border-color: #0000;
    border-radius: 1rem;
    width: 100%;
    //height: .5rem
  }
}

.form-control {
  width: 100%;
  padding: .375rem .75rem;
  color: var(--primary-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  display: block;

  &-color {
    appearance: none;
    width: 3rem;
    height: calc(1.5em + 0.75rem + calc(var(--border-width) * 2));
    padding: 0.375rem;
  }
}

.form-select {
  padding: .375rem 2.25rem .375rem .75rem;
  color: var(--primary-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}

.form-check-input {
  margin-left: 0.5rem;
  border: var(--border-width) solid var(--border-color);
}

.qrcode-wrap.border {
  display: inline-block;
  border: 6px solid var(--border-color);
}

.qrcode {
  vertical-align: middle;
}

.container-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 720px;
  }
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0.5rem;
}

.widget {
  display: inline-block;
  overflow: hidden;
  margin-block: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;

  a {
    text-decoration: none;
    outline: 0
  }
}

.gh-btn, .gh-star {
  position: relative;
  display: inline-flex;
  //height: 20px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: var(--border-width) solid;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

.gh-btn {
  color: #24292f;
  background-color: #ebf0f4;
  border-color: #ccd1d5;
  border-color: rgba(27, 31, 36, .15);
  background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
  border-radius: .25em;

  &:not(:last-child) {
    border-radius: .25em 0 0 .25em;
  }

  &:focus, &:hover {
    background-color: #e9ebef;
    background-position: 0 -0.5em;
    border-color: #caccd1;
    border-color: rgba(27, 31, 36, .15);
    background-image: linear-gradient(180deg, #f3f4f6, #e9ebef 90%);
  }

  &:active {
    background-color: #e5e9ed;
    border-color: #c7cbcf;
    border-color: rgba(27, 31, 36, .15);
    box-shadow: inset 0 .15em .3em rgba(27, 31, 36, .15);
    background-image: none;
    filter: none;
  }
}

.gh-star {
  color: #24292f;
  background-color: #fff;
  border-color: #ddddde;
  border-color: rgba(27, 31, 36, .15);
  border-left: 0;
  border-radius: 0 .25em .25em 0;

  &:focus, &:hover {
    color: #0969da;
  }
}
