@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
//$primary: #900;
//$enable-shadows: true;
//$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../node_modules/bootstrap/scss/forms";

body {}

.qrcode-wrap.border {
  display: inline-block;
  border-width: 6px !important;
}

.qrcode {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 720px;
  }
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0.5rem;
}

.widget {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;

  a {
    text-decoration: none;
    outline: 0
  }
}

.gh-btn, .gh-star {
  position: relative;
  display: inline-flex;
  height: 20px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

.gh-btn {
  color: #24292f;
  background-color: #ebf0f4;
  border-color: #ccd1d5;
  border-color: rgba(27, 31, 36, .15);
  background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
  border-radius: .25em;

  &:not(:last-child) {
    border-radius: .25em 0 0 .25em;
  }

  &:focus, &:hover {
    background-color: #e9ebef;
    background-position: 0 -0.5em;
    border-color: #caccd1;
    border-color: rgba(27, 31, 36, .15);
    background-image: linear-gradient(180deg, #f3f4f6, #e9ebef 90%);
  }

  &:active {
    background-color: #e5e9ed;
    border-color: #c7cbcf;
    border-color: rgba(27, 31, 36, .15);
    box-shadow: inset 0 .15em .3em rgba(27, 31, 36, .15);
    background-image: none;
    filter: none;
  }
}

.gh-star {
  color: #24292f;
  background-color: #fff;
  border-color: #ddddde;
  border-color: rgba(27, 31, 36, .15);
  border-left: 0;
  border-radius: 0 .25em .25em 0;

  &:focus, &:hover {
    color: #0969da;
  }
}
