sudo: false
language: node_js
node_js:
  - '8'

cache:
  directories:
    - node_modules

install:
  - npm install -g yarn
  - yarn install

script:
  - npm run build

after_success:
#  - npm run codecov
