body {
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  color: #333;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 798px;
  }
}

@media screen and (max-width: 470px) {
  h1 {
    font-size: 26px;
  }
}

textarea {
  resize: vertical;
}
